<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color:cornflowerblue;">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (username) {%>
      <h3>Hello <%= username %>!</h3>
      <form method="POST" action="/logout">
        <button type="submit" class="btn btn-secondary">Sign out</button>
      </form>
      <%} else { %>
        <form class="form inline" action="/login" method="POST">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
          <input class="form-control" type="text" name="name" placeholder="username">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success">Sign in</button>
        <% } %>
          </div>
        </form>
  </nav>
</header>